-------------------navbar------------
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #3a3a47;
  height: 8vh;
}

main {
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
----------------------------------------------------LINKTREE------------------
html,body{height: 100%;
}
body{
    background:linear-gradient(to bottom, #6ab7f5, #fff);
    font-family: "raleway", cursive;
    color: white;
    


}
.avatar{
    width: 70px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px;
}
h1{
    font-family:"architects Daughter", cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;


}
.h2{
    font-size: 16px;

}
.profile{
    text-align: center;
    margin-top: 20px;
}
.social{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0;
    
}
.social img{
    width: 33px; 
     
}
.Links-list{
    list-style: none;
 
}
.Links-list li {
    margin: 10px 20px;
}
.Links-list li a{
  border-radius: 4px;
  display: block;
  background: white;
  padding: 15px 20px;
  text-decoration: none;
  color: rgba(0,212,255,1);
}
.Links-list li a span{
    color: grey;
    display: block;
    margin-top: 10px; 

}
